aiodns==1.1.1
aiohttp==1.0.5
async-timeout==1.1.0
blinker==1.4
CacheControl==0.12.0
chardet==2.3.0
click==6.7
command-not-found==0.3
configparser==3.5.0
crypto==1.4.1
discord.py==0.16.7
dnspython==1.15.0
Flask==0.12
IPy==0.83
itsdangerous==0.24
Jinja2==2.9.4
joblib==0.10.3
language-selector==0.1
logger==1.4
MarkupSafe==0.23
msgpack-python==0.4.8
multidict==2.1.4
mysqlclient==1.3.9
Naked==0.1.31
netifaces==0.10.5
numpy==1.12.1
oauthlib==2.0.2
olefile==0.44
phpserialize==1.3
Pillow==4.0.0
protobuf==3.2.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycares==2.1.1
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.20.0
PyMySQL==0.7.9
python-apt==1.1.0b1
python-debian==0.1.27
python-simplexml==0.1.5
python-systemd==231
PyYAML==3.12
qrcode==5.3
rauth==0.7.3
redis==2.10.5
requests==2.9.1
requests-cache==0.4.13
requests-oauthlib==0.8.0
shellescape==3.4.1
six==1.10.0
sleekxmpp==1.3.1
slixmpp==1.2.4.post1
SQLAlchemy==1.1.5
ssh-import-id==5.5
ts3==1.0.5
ufw==0.35
unattended-upgrades==0.1
untangle==1.1.0
urllib3==1.13.1
uWSGI==2.0.14
virtualenv==15.1.0
Werkzeug==0.11.15
whisper==1.1.0
xmltodict==0.10.2
xmpppy==0.5.0rc1
