[Unit]
Description=uWSGI for tri_api
After=syslog.target

[Service]
Environment="PYTHONPATH=/srv/api/"
WorkingDirectory=/srv/api/
ExecStart=/usr/local/bin/uwsgi --ini /srv/api/config/tri_api.ini --uid www-data --gid www-data -w runserver --pidfile /run/uwsgi/tri_api.pid --processes 10 --threads 2 --stats 127.0.0.1:9191
RuntimeDirectory=uwsgi
User=www-data
Group=www-data
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all
PIDFile=/run/uwsgi/tri_api.pid

[Install]
WantedBy=multi-user.target
